.blog {
  @include adaptiveValue("padding-top", 75, 35);
  @include adaptiveValue("padding-bottom", 75, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 35, 20);
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 20, 10);
    grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__slider {
    position: relative;

    @media (max-width: $mobile) {
      margin: 0 toRem(-15);
      padding: 0 toRem(15);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: #fff;
      z-index: 1;
    }
    &::before {
      left: calc(100% + toRem(3));
    }
    &::after {
      right: calc(100% + toRem(3));
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__navigation {
    @media (min-width: $pc) {
      position: absolute;
      width: calc(100% + toRem(74));
      top: toRem(145);
      left: toRem(-37);

      z-index: 2;
    }
    @media (max-width: $pc) {
      justify-content: flex-end;
      margin-top: toRem(25);
      column-gap: toRem(20);

      & .navigation__button::after {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__button {
    @include adaptiveValue("margin-top", 100, 35);
    width: 100%;
    @include adaptiveValue("height", 88, 48);
    @include adaptiveValue("font-size", 24, 18);
  }
}

.item-blog {
  display: flex;
  flex-direction: column;
  &__image-ibg {
    overflow: hidden;
    border-radius: toRem(10);
    display: block;
    padding-bottom: percent(315, 252);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 10);
    }
  }

  &__title {
    flex: 1 1 auto;
    font-size: toRem(18);
    font-weight: 300;
    line-height: 111.1%; /* 20/18 */

    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #e8c886;
      }
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }
  }

  &__date {
  }
}

//========================================================================================================================================================

.screen {
  @include adaptiveValue("margin-top", 30, 10);
  background: #e8c886;
  &__container {
  }

  &__body {
    @include adaptiveValue("padding-top", 96, 55);
    @include adaptiveValue("padding-bottom", 125, 120);
  }

  &__title {
    position: relative;
    z-index: 2;

    color: #312200;
    font-family: "Playfair Display";
    @include adaptiveValue("font-size", 80, 36);
    line-height: 110%; /* 75/80 */
    text-transform: uppercase;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    p {
      &:nth-child(2) {
        @include adaptiveValue("padding-left", 120, 0, 0, 1420, 767);
      }
    }
  }

  &__text {
    max-width: toRem(627);
    color: #312200;
    @include adaptiveValue("font-size", 24, 16);
    line-height: 133.3%; /* 32/24 */

    @media (max-width: $mobile) {
      max-width: toRem(250);
    }
  }
}

//========================================================================================================================================================

.blog-article {
  padding-top: toRem(30);
  @include adaptiveValue("padding-bottom", 75, 35);
  &__container {
  }

  &__image-ibg {
    max-width: toRem(800);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: percent(550, 1390);
    border-radius: toRem(10);
    overflow: hidden;

    @media (max-width: em(800)) {
      padding-bottom: percent(240, 345);
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 55, 30);
    }
  }

  &__body {
    position: relative;

    & > * {
      max-width: toRem(800);
      margin-right: auto;
      margin-left: auto;
    }

    h1 {
      color: #000;
      @include adaptiveValue("font-size", 48, 24);
      line-height: 120%; /* 57.6px */
      text-transform: uppercase;

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 30, 15);
      }
    }

    p {
      color: #131313;
      text-align: justify;

      @include adaptiveValue("font-size", 18, 16);
      line-height: 120%; /* 21.6px */
      letter-spacing: 0.18px;

      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }

  &__date {
    color: #131313;

    font-size: toRem(18);
    font-weight: 300;
    line-height: 111.1%; /* 20/18 */

    margin-bottom: toRem(15);

    @media (min-width: em(1050)) {
      position: absolute;
      top: toRem(20);
      left: 0;
    }
  }
}
