// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.title {
  font-family: "Playfair Display";
  @include adaptiveValue("font-size", 65, 24);
  line-height: 104.6%; /* 68/65 */
  text-transform: uppercase;
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
.pagination {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(5);

  .swiper-pagination-bullet {
    pointer-events: all;
    cursor: pointer;
    background-color: #312200;
    width: toRem(10);
    height: toRem(10);
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #e8c886;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #e8c886;
  }
}

//========================================================================================================================================================

.navigation {
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(10);

  &__button {
    pointer-events: all;
    position: relative;
    font-size: toRem(24);
    color: #312200;

    @media (any-hover: hover) {
      &:hover {
        &::after {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: toRem(-8);
    }
  }
}
.button-prev {
}
.button-next {
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
