// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
.pagination {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(5);

  .swiper-pagination-bullet {
    pointer-events: all;
    cursor: pointer;
    background-color: #312200;
    width: toRem(10);
    height: toRem(10);
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #e8c886;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #e8c886;
  }
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
