// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.title {
  font-family: "Playfair Display";
  @include adaptiveValue("font-size", 65, 24);
  line-height: 104.6%; /* 68/65 */
  text-transform: uppercase;
}

//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
.pagination {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(5);

  &.swiper-pagination-lock {
    display: none;
  }

  .swiper-pagination-bullet {
    pointer-events: all;
    cursor: pointer;
    background-color: #312200;
    width: toRem(10);
    height: toRem(10);
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #e8c886;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #e8c886;
  }
}

//========================================================================================================================================================

.navigation {
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(10);

  &__button {
    pointer-events: all;
    position: relative;
    font-size: toRem(24);
    color: #312200;

    @media (any-hover: hover) {
      &:hover {
        &::after {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: toRem(-8);
    }
  }
}
.button-prev {
}
.button-next {
}

//========================================================================================================================================================

.breadcrumbs {
  white-space: nowrap;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    color: #312200;
    font-family: Inter;
    font-size: toRem(14);
    line-height: 142.9%; /* 20/14 */

    &:not(:last-child) {
      &::after {
        content: "——";
        margin: 0 toRem(5);
        font-size: toRem(10);
      }
    }
  }

  &__link {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #e8c886;
      }
    }
  }

  &__current {
    color: #e8c886;
  }
}

//========================================================================================================================================================

.line {
  position: relative;
  color: #312200;
  @include adaptiveValue("font-size", 16, 14);
  font-weight: 600;
  line-height: 118.8%; /* 19/16 */

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @media (max-width: $mobile) {
    font-size: toRem(18);
    font-weight: 400;
  }

  &:not(:last-child) {
    margin-bottom: toRem(15);
  }

  span {
    display: block;
    padding-bottom: toRem(2);
    background-color: #fff;
    position: relative;
    z-index: 2;

    &:first-child {
      padding-right: toRem(5);
    }
    &:last-child {
      font-weight: 400;
      padding-left: toRem(5);

      @media (max-width: $mobile) {
        font-weight: 300;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: toRem(1);
    bottom: toRem(1);
    left: 0;
    background-color: #ece6e2;
    z-index: 1;
  }
}

//========================================================================================================================================================

%scrollbar {
  /* Общие стили для скроллбара */
  &::-webkit-scrollbar {
    width: toRem(3); /* Ширина скроллбара */
  }

  /* Стили для ползунка (thumb) скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: #e8c886; /* Цвет ползунка */
    border-radius: toRem(2); /* Закругление углов ползунка */
  }

  /* Стили для трека (track) скроллбара */
  &::-webkit-scrollbar-track {
    background-color: #dbd6d2; /* Цвет трека */
  }
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
