//====================================================================================================

.hero {
  padding-bottom: toRem(30);

  @media (min-width: $mobile) {
    padding-top: toRem(30);
  }
  &__container {
    display: grid;
    gap: toRem(30);

    @media (max-width: $mobile) {
      padding: 0;
    }
  }

  &__slider {
    position: relative;

    // @media (max-width: $mobile) {
    //   margin: 0 toRem(-15);
    // }
  }

  &__wrapper {
  }

  &__slide {
    position: relative;
    background-color: #f0ebe7;

    @include adaptiveValue("padding-top", 96, 55);
    @include adaptiveValue("padding-bottom", 96, 120);
    @include adaptiveValue("padding-right", 37, 10, 0, 1420, 991);
    @include adaptiveValue("padding-left", 37, 10, 0, 1420, 991);

    @media (max-width: $mobile) {
      min-width: 100vw;

      min-height: calc(100svh - var(--header-height));
    }
  }

  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    img {
      object-position: right center;
    }
  }

  &__title {
    position: relative;
    z-index: 2;

    color: #312200;
    font-family: "Playfair Display";
    @include adaptiveValue("font-size", 80, 36);
    line-height: 110%; /* 75/80 */
    text-transform: uppercase;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }

    p {
      &:nth-child(2) {
        @include adaptiveValue("padding-left", 120, 0, 0, 1420, 767);
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;

    max-width: toRem(591);
    color: #312200;
    @include adaptiveValue("font-size", 24, 16);
    line-height: 133.3%; /* 32/24 */

    @media (max-width: $mobile) {
      max-width: toRem(250);
    }
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 30, 20);
    grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));

    border-top: toRem(1) solid #dbd6d2;
    border-bottom: toRem(1) solid #dbd6d2;

    padding-top: toRem(23);
    padding-bottom: toRem(23);
    @include adaptiveValue("padding-left", 35, 0, 0, 1420, 991);
    @include adaptiveValue("padding-right", 35, 0, 0, 1420, 991);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
    }
    @media (max-width: $mobile) {
      padding-top: toRem(15);
      padding-bottom: toRem(15);
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;

      padding-right: toRem(15);
      padding-left: toRem(15);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 20, 10);

    @media (min-width: $mobile) {
      justify-content: center;
    }
  }

  &__ico {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $mobile) {
      flex: 0 0 toRem(50);
    }

    img {
      max-width: 100%;
    }
  }

  &__item-text {
    @include adaptiveValue("font-size", 24, 18);
    line-height: 133.3%; /* 32/24 */
  }

  &__pagination {
    position: absolute;
    @include adaptiveValue("bottom", 27, 12);
    left: 0;
    width: 100%;
    z-index: 3;
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

//====================================================================================================

.make {
  @include adaptiveValue("padding-top", 75, 35);
  @include adaptiveValue("padding-bottom", 75, 35);

  &__container {
  }

  &__maintitle {
    @include adaptiveValue("margin-bottom", 30, 20);
  }

  &__body {
    display: grid;
    gap: toRem(20);

    @media (min-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include adaptiveValue("padding-top", 40, 25);
    @include adaptiveValue("padding-bottom", 40, 25);
    @include adaptiveValue("padding-left", 40, 15, 0, 1420, 776);
    @include adaptiveValue("padding-right", 40, 15, 0, 1420, 776);

    border-radius: 30px;
    border: toRem(1) solid #dbd6d2;
    background: #f0ebe7;
  }

  &__title {
    @include adaptiveValue("font-size", 48, 24);
    line-height: 120%; /* 57.6px */
    text-transform: uppercase;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 24, 16);
    line-height: 133.3%; /* 32/24 */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }

  &__button {
    @include adaptiveValue("font-size", 24, 18);
    line-height: 133.3%; /* 32/24 */

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;

    @include adaptiveValue("column-gap", 20, 10);

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #e8c886;
      }
    }
  }

  &__images {
    display: grid;
    @include adaptiveValue("gap", 20, 10, 0, 767, 375);
  }

  &__image-ibg {
    border-radius: toRem(20);
    overflow: hidden;

    padding-bottom: percent(340, 670);
  }
}

//========================================================================================================================================================

.special {
  @include adaptiveValue("padding-top", 75, 35);
  @include adaptiveValue("padding-bottom", 75, 35);

  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 30, 20);
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 20, 15);

    @media (min-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    position: relative;

    &:first-child {
      grid-row: span 2;

      .special__image-ibg {
        border-radius: toRem(30);
        padding-bottom: percent(1020, 670);

        @media (max-width: $mobile) {
          padding-bottom: percent(400, 345);
        }
      }
      .special__text {
        display: flex;
        align-items: flex-end;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        .special__image-ibg {
          box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        }
      }
    }
  }

  &__image-ibg {
    transition: box-shadow 0.3s ease 0s;
    border-radius: toRem(20);
    overflow: hidden;
    padding-bottom: percent(500, 670);
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include adaptiveValue("padding-top", 50, 25);
    @include adaptiveValue("padding-bottom", 50, 25);
    @include adaptiveValue("padding-left", 40, 15, 0, 1420, 776);
    @include adaptiveValue("padding-right", 40, 15, 0, 1420, 776);
    z-index: 2;

    color: #fff;
    @include adaptiveValue("font-size", 48, 20);
    line-height: 120%; /* 57.6px */
    text-transform: uppercase;

    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #e8c886;
      }
    }
  }
}
.title {
}

//========================================================================================================================================================

.readmore-block {
  @include adaptiveValue("padding-top", 75, 35);
  @include adaptiveValue("padding-bottom", 75, 35);
  &__container {
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: toRem(15);

    @include adaptiveValue("margin-bottom", 30, 20);
  }

  &__title {
  }

  &__link {
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #e8c886;
      }
    }
  }

  &__body {
  }

  &__text {
    @include adaptiveValue("font-size", 24, 16);
    line-height: 133.3%; /* 32/24 */
  }

  &__text-content {
    p,
    li,
    ul,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 15);
      }
    }
  }

  &__text-more {
    margin-top: toRem(15);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #312200;
      transition: background-color 0.3s ease 0s;
    }

    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #e8c886;

        &::after {
          background-color: #e8c886;
        }
      }
    }
  }
}
